.wrapper {
  position: relative;
}

.input {
  padding: 0.5em 0.75em;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--bg-color-1);
}

.suggestions {
  position: absolute;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--bg-color-3);
}

.suggestion {
  cursor: pointer;
  width: 100%;
  padding: 0.25em 0.85em;
  border-radius: 0.5rem;

  &:hover,
  &:focus {
    background-color: var(--bg-color-2);
  }
}
