---
import { SearchBar } from '../features/search-bar';
import { SearchResults, SORT_BY_OPTIONS } from '../features/search-results';

const search = decodeURIComponent(Astro.url.searchParams.get('search') || '');
const sortBy = Astro.url.searchParams.get('sort-by') || SORT_BY_OPTIONS.MOST_RECENT;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="stylesheet" href="/defaults.css" />
    <link rel="stylesheet" href="/variables.css" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>DeoVR - Home Page</title>
  </head>
  <body>
    <h1 class="visually-hidden">DeoVR - Home Page</h1>
    <SearchBar client:load initialSearch={search} />
    <SearchResults client:load initialSortBy={sortBy} />
  </body>
</html>