---
import { SearchBar } from '../features/search';
import { SortPanel } from '../features/sort';
import { SearchResults } from '../features/search-results';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>DeoVR - My Test Page</title>
  </head>
  <body>
    <h1>DeoVR</h1>
    <SearchBar client:load />
    <SortPanel client:load />
    <SearchResults client:load />
  </body>
</html>