---
import { SearchBar } from '../features/search';
import { SearchResults } from '../features/search-results';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="stylesheet" href="/defaults.css" />
    <link rel="stylesheet" href="/variables.css" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>DeoVR - Home Page</title>
  </head>
  <body>
    <h1 class="visually-hidden">DeoVR - Home Page</h1>
    <SearchBar client:load />
    <SearchResults client:load />
  </body>
</html>